<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>

<body>
    <div style=" width: 50%; margin: auto;">
        <h1>Notre Application de</h1>
        <%- include ("./composant/header") %>

            <section>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis ut ratione voluptas repellendus ad hic, non amet debitis excepturi voluptate obcaecati quidem aut ab laboriosam maxime illum ea natus molestias qui repudiandae deleniti recusandae
                    quo suscipit libero? Quisquam suscipit corporis necessitatibus in, possimus ipsum nemo dolores iste aliquam laborum repellat dignissimos ducimus magnam eligendi provident commodi dolore iusto totam voluptate quaerat. Fuga quis nam
                    quaerat eum dolorum quisquam dicta sapiente aliquam expedita, eaque, quia laborum dolorem. Voluptas nam architecto maxime deserunt veritatis aliquid a itaque, quos rem sed eaque culpa aliquam fugit velit et assumenda molestias atque,
                    pariatur deleniti laborum.</p>
            </section>

    </div>

</body>

</html>