<nav>
    <ul>
        <li><a href="/">Acceuil</a> </li>
        <li><a href="/apropos">A propos</a> </li>
        <li><a href="#">Nos services</a> </li>
        <li><a href="#">Contacts</a> </li>

    </ul>
</nav>